<div id="mainContainer">
  
  <div id="secondaryToolbar" class="secondaryToolbar hidden doorHangerRight">
    <div id="secondaryToolbarButtonContainer">
      <button id="secondaryPresentationMode" class="secondaryToolbarButton presentationMode visibleLargeView" title="Switch to Presentation Mode" tabindex="51" data-l10n-id="presentation_mode">
        <span data-l10n-id="presentation_mode_label">Presentation Mode</span>
      </button>

      <button id="secondaryOpenFile" class="secondaryToolbarButton openFile visibleLargeView" title="Open File" tabindex="52" data-l10n-id="open_file">
        <span data-l10n-id="open_file_label">Open</span>
      </button>

      <button id="secondaryPrint" class="secondaryToolbarButton print visibleMediumView" title="Print" tabindex="53" data-l10n-id="print">
        <span data-l10n-id="print_label">Print</span>
      </button>

      <button id="secondaryDownload" class="secondaryToolbarButton download visibleMediumView" title="Download" tabindex="54" data-l10n-id="download">
        <span data-l10n-id="download_label">Download</span>
      </button>

      <a href="#" id="secondaryViewBookmark" class="secondaryToolbarButton bookmark visibleSmallView" title="Current view (copy or open in new window)" tabindex="55" data-l10n-id="bookmark">
        <span data-l10n-id="bookmark_label">Current View</span>
      </a>
    </div>
  </div>  <!-- secondaryToolbar -->



  <menu type="context" id="viewerContextMenu">
    <menuitem id="contextFirstPage" label="First Page"
              data-l10n-id="first_page"></menuitem>
    <menuitem id="contextLastPage" label="Last Page"
              data-l10n-id="last_page"></menuitem>
    <menuitem id="contextPageRotateCw" label="Rotate Clockwise"
              data-l10n-id="page_rotate_cw"></menuitem>
    <menuitem id="contextPageRotateCcw" label="Rotate Counter-Clockwise"
              data-l10n-id="page_rotate_ccw"></menuitem>
  </menu>

  <div id="viewerContainer" tabindex="0">
    <div id="viewer" class="pdfViewer"></div>
  </div>

</div> <!-- mainContainer -->
