<div id="overlayContainer" class="hidden">
  <div id="passwordOverlay" class="container hidden">
    <div class="dialog">
      <div class="row">
        <p id="passwordText" data-l10n-id="password_label">Enter the password to open this PDF file:</p>
      </div>
      <div class="row">
        <!-- The type="password" attribute is set via script, to prevent warnings in Firefox for all http:// documents. -->
        <input id="password" class="toolbarField">
      </div>
      <div class="buttonRow">
        <button id="passwordCancel" class="overlayButton"><span data-l10n-id="password_cancel">Cancel</span></button>
        <button id="passwordSubmit" class="overlayButton"><span data-l10n-id="password_ok">OK</span></button>
      </div>
    </div>
  </div>
  <div id="documentPropertiesOverlay" class="container hidden">
    <div class="dialog">
      <div class="row">
        <span data-l10n-id="document_properties_file_name">File name:</span> <p id="fileNameField">-</p>
      </div>
      <div class="row">
        <span data-l10n-id="document_properties_file_size">File size:</span> <p id="fileSizeField">-</p>
      </div>
      <div class="separator"></div>
      <div class="row">
        <span data-l10n-id="document_properties_title">Title:</span> <p id="titleField">-</p>
      </div>
      <div class="row">
        <span data-l10n-id="document_properties_author">Author:</span> <p id="authorField">-</p>
      </div>
      <div class="row">
        <span data-l10n-id="document_properties_subject">Subject:</span> <p id="subjectField">-</p>
      </div>
      <div class="row">
        <span data-l10n-id="document_properties_keywords">Keywords:</span> <p id="keywordsField">-</p>
      </div>
      <div class="row">
        <span data-l10n-id="document_properties_creation_date">Creation Date:</span> <p id="creationDateField">-</p>
      </div>
      <div class="row">
        <span data-l10n-id="document_properties_modification_date">Modification Date:</span> <p id="modificationDateField">-</p>
      </div>
      <div class="row">
        <span data-l10n-id="document_properties_creator">Creator:</span> <p id="creatorField">-</p>
      </div>
      <div class="separator"></div>
      <div class="row">
        <span data-l10n-id="document_properties_producer">PDF Producer:</span> <p id="producerField">-</p>
      </div>
      <div class="row">
        <span data-l10n-id="document_properties_version">PDF Version:</span> <p id="versionField">-</p>
      </div>
      <div class="row">
        <span data-l10n-id="document_properties_page_count">Page Count:</span> <p id="pageCountField">-</p>
      </div>
      <div class="buttonRow">
        <button id="documentPropertiesClose" class="overlayButton"><span data-l10n-id="document_properties_close">Close</span></button>
      </div>
    </div>
  </div>
  <div id="printServiceOverlay" class="container hidden">
    <div class="dialog">
      <div class="row">
        <span data-l10n-id="print_progress_message">Preparing document for printing…</span>
      </div>
      <div class="row">
        <progress value="0" max="100"></progress>
        <span data-l10n-id="print_progress_percent" data-l10n-args='{ "progress": 0 }' class="relative-progress">0%</span>
      </div>
      <div class="buttonRow">
        <button id="printCancel" class="overlayButton"><span data-l10n-id="print_progress_close">Cancel</span></button>
      </div>
    </div>
  </div>
</div>  <!-- overlayContainer -->