  <div id="sidebarContainer">
    <button id="sidebarToggle" class="toolbarButton toggled" title="Toggle Sidebar" tabindex="11" data-l10n-id="toggle_sidebar">
            <span data-l10n-id="toggle_sidebar_label">Toggle Sidebar</span>
          </button>
    <div id="toolbarSidebar">
      <div class="splitToolbarButton toggled side-menu">
        
        <button id="viewOutline" class="toolbarButton group toggled" title="Show Document Outline (double-click to expand/collapse all items)" tabindex="1" data-l10n-id="document_outline">
           
        </button>

        <button id="viewBookmarks" class="toolbarButton group" title="Show Document Bookmarks" tabindex="2">
           
        </button>

        <button id="viewQuotes" class="toolbarButton group" title="Show Document Quotes" tabindex="3">
           
        </button>

        <button id="viewComments" class="toolbarButton group" title="Show Document Comments" tabindex="4">
           
        </button>

        <button id="viewAttachments" class="hidden toolbarButton group" title="Show Attachments" tabindex="5" data-l10n-id="attachments">
           
        </button>
        <button id="viewSearch" class="toolbarButton group" title="Search" tabindex="6">
           
        </button>
        <button id="viewThumbnail" class="toolbarButton group" title="Show Thumbnails" tabindex="7" data-l10n-id="thumbs">

        </button>
      </div>
    </div>
    <div id="sidebarContent">
      <div id="outlineView">
        <h3>Оглавление</h3>
      </div>
      <div id="bookmarksView" class="hidden">
        <h3>Закладки</h3>
        <div class="items">
          <ul id="Bookmarks"></ul>
        </div>
      </div>
      <div id="quotesView" class="hidden">
        <h3>Цитаты</h3>
        <div class="items">
          <ul id="Quotes"></ul>
        </div>
      </div>
      <div id="commentsView" class="hidden">
        <h3>Комментарий</h3>
        <div class="items">
          <ul id="Comments"></ul>
        </div>
      </div>
      <div id="attachmentsView" class="hidden">
      </div>
      <div id="searchView" class="hidden">
        <h3>Поиск</h3>
          <div class="findbar doorHanger hiddenSmallView" id="findbar">
            <label for="findInput" class="toolbarLabel lable" data-l10n-id="find_label">Find:</label>
            <input id="findInput" class="toolbarField" tabindex="91">
            <div class="block-buttons-find">
              <button class="toolbarButton findPrevious" title="" id="findPrevious" tabindex="92" data-l10n-id="find_previous">
                <span data-l10n-id="find_previous_label">Previous</span>
              </button>
              <!-- <div class="splitToolbarButtonSeparator"></div> -->
              <button class="toolbarButton findNext" title="" id="findNext" tabindex="93" data-l10n-id="find_next">
                <span data-l10n-id="find_next_label">Next</span>
              </button>
            </div>
            <div class="checkbox-block">
              <span class="box-blk">
                <input type="checkbox" id="findHighlightAll" class="toolbarField" tabindex="94">
                <label for="findHighlightAll" class="toolbarLabel" data-l10n-id="find_highlight">Highlight all</label>
              </span>
              <span class="box-blk">
                <input type="checkbox" id="findMatchCase" class="toolbarField" tabindex="95">
                <label for="findMatchCase" class="toolbarLabel" data-l10n-id="find_match_case_label">Match case</label>
              </span>
              <div class="find-message">
                <label class="toolbarLabel">Найдено совпадений:</label>
                <span id="findResultsCount" class="toolbarLabel hidden"></span>
                <span id="findMsg" class="toolbarLabel"></span>
              </div>
            </div>
            
          </div>  <!-- findbar -->
      </div>
      <div id="thumbnailView" class="hidden">
      </div>
    </div>
  </div>  <!-- sidebarContainer -->