<div class="toolbar">
    <div id="toolbarContainer">
      <div id="toolbarViewer">
        <div id="toolbarViewerLeft">
          <!-- <button id="sidebarToggle" class="toolbarButton" title="Toggle Sidebar" tabindex="11" data-l10n-id="toggle_sidebar">
            <span data-l10n-id="toggle_sidebar_label">Toggle Sidebar</span>
          </button> -->
          <div class="toolbarButtonSpacer"></div>
        <div class="wrap-button">
          <p>Домой</p>
          <a href="/" id="Home" class="toolbarButton group-new home hiddenSmallView" title="Домой" tabindex="35" data-l10n-id="102">
            <span data-l10n-id="home_label">Домой</span>
          </a>
        </div>
        	<div class="toolbarButtonSpacer hidden-md"></div>
        	<div class="toolbarButtonSpacer hidden-md"></div>
        <!-- <div class="wrap-button">
          <p>Выделить</p>
          <button id="HighLight" class="toolbarButton group-new highlight hiddenSmallView" title="Выделить" tabindex="100" data-l10n-id="highlight">
             <span data-l10n-id="highlight_label">Выделить</span>
          </button>
        </div>
        	<div class="toolbarButtonSpacer"></div>
        	<div class="toolbarButtonSpacer"></div> -->
        <div class="wrap-button">
          <p>В цитаты</p>
          <a id="addQuotes" class="toolbarButton group-new quote hiddenSmallView" title="Цитата" tabindex="101" data-l10n-id="quote">
             <span data-l10n-id="quote_label">В цитаты</span>
          </a>
        </div>
        	<!-- <div class="toolbarButtonSpacer"></div> -->
        <div class="wrap-button">
          <p>В закладки</p>
          <a href="#" id="addBookmarks" class="toolbarButton bookmark hiddenSmallView" title="Current view (copy or open in new window)" tabindex="35" data-l10n-id="bookmark">
            <span data-l10n-id="bookmark_label">Закладки</span>
          </a>
        </div>
        <div class="wrap-button">
          <p>Комментарий</p>
          <a href="#" id="addComments" class="toolbarButton comment hiddenSmallView" title="Add comment" tabindex="36" data-l10n-id="comments">
            <span data-l10n-id="comment_label">Комментарий</span>
          </a>
        </div>
          <!-- <div class="toolbarButtonSpacer"></div> -->
        <div class="wrap-button">
          <p>Поиск</p>
          <button id="viewFind" class="toolbarButton group hiddenSmallView" title="Find in Document" tabindex="12" data-l10n-id="findbar" onclick="$('#viewSearch').trigger('click');if(!$('#sidebarToggle').hasClass('toggled')){$('#sidebarToggle').trigger('click');} return false;">
             <span data-l10n-id="findbar_label">Find</span>
          </button>
        </div>


          <button id="firstPage" class="hidden secondaryToolbarButton firstPage" title="Go to First Page" tabindex="56" data-l10n-id="first_page">
          </button>
        <button id="lastPage" class="hidden secondaryToolbarButton lastPage" title="Go to Last Page" tabindex="57" data-l10n-id="last_page">
        </button>

        

        <button id="toggleHandTool" class="hidden secondaryToolbarButton handTool" title="Enable hand tool" tabindex="60" data-l10n-id="hand_tool_enable">
        </button>
        <div class="toolbarButtonSpacer"></div>
        

        </div>
        <div id="toolbarViewerRight">


        <div class="wrap-button spread-wrapp">
          <p>Формат книги</p>
          <button id="spreadEven" class="secondaryToolbarButton spreadModeButtons spreadEven" title="Показать страницы в книжном формате" tabindex="67" data-l10n-id="spread_even">
            </button>
        </div>


        <div class="wrap-button">
          <p>Повернуть</p>
          <button id="pageRotateCw" class="secondaryToolbarButton rotateCw" title="Rotate Clockwise" tabindex="58" data-l10n-id="page_rotate_cw">
          </button>
        
          <button id="pageRotateCcw" class="secondaryToolbarButton rotateCcw" title="Rotate Counterclockwise" tabindex="59" data-l10n-id="page_rotate_ccw">
          </button>
        </div>
        	<div class="toolbarButtonSpacer"></div>
        	<div class="toolbarButtonSpacer"></div>
        <div class="wrap-button">
          <p>Во весь экран</p>
          <button id="presentationMode" class="toolbarButton presentationMode hiddenLargeView" title="Switch to Presentation Mode" tabindex="31" data-l10n-id="presentation_mode">
            <span data-l10n-id="presentation_mode_label">Presentation Mode</span>
          </button>
        </div>
        <div class="toolbarButtonSpacer"></div>
          

        </div>
        <div id="toolbarViewerMiddle">
          <div class="wrap-button">
            <p class="text-center">Масштаб</p>
            <div class="splitToolbarButton">
              <button id="zoomOut" class="toolbarButton zoomOut" title="Zoom Out" tabindex="21" data-l10n-id="zoom_out">
                <span data-l10n-id="zoom_out_label">Zoom Out</span>
              </button>
              <!-- <div class="splitToolbarButtonSeparator"></div> -->
              
            </div>
          
          <span id="scaleSelectContainer" class="dropdownToolbarButton">
            <select id="scaleSelect" title="Zoom" tabindex="23" data-l10n-id="zoom">
              <option id="pageAutoOption" title="" value="auto" selected="selected" data-l10n-id="page_scale_auto">Automatic Zoom</option>
              <option id="pageActualOption" title="" value="page-actual" data-l10n-id="page_scale_actual">Actual Size</option>
              <option id="pageFitOption" title="" value="page-fit" data-l10n-id="page_scale_fit">Fit Page</option>
              <option id="pageWidthOption" title="" value="page-width" data-l10n-id="page_scale_width">Full Width</option>
              <option id="customScaleOption" title="" value="custom" disabled="disabled" hidden="true"></option>
              <option title="" value="0.5" data-l10n-id="page_scale_percent" data-l10n-args='{ "scale": 50 }'>50%</option>
              <option title="" value="0.75" data-l10n-id="page_scale_percent" data-l10n-args='{ "scale": 75 }'>75%</option>
              <option title="" value="1" data-l10n-id="page_scale_percent" data-l10n-args='{ "scale": 100 }'>100%</option>
              <option title="" value="1.25" data-l10n-id="page_scale_percent" data-l10n-args='{ "scale": 125 }'>125%</option>
              <option title="" value="1.5" data-l10n-id="page_scale_percent" data-l10n-args='{ "scale": 150 }'>150%</option>
              <option title="" value="2" data-l10n-id="page_scale_percent" data-l10n-args='{ "scale": 200 }'>200%</option>
              <option title="" value="3" data-l10n-id="page_scale_percent" data-l10n-args='{ "scale": 300 }'>300%</option>
              <option title="" value="4" data-l10n-id="page_scale_percent" data-l10n-args='{ "scale": 400 }'>400%</option>
            </select>
          </span>
          <div class="splitToolbarButton">
            <button id="zoomIn" class="toolbarButton zoomIn" title="Zoom In" tabindex="22" data-l10n-id="zoom_in">
                <span data-l10n-id="zoom_in_label">Zoom In</span>
               </button>
          </div>
          </div>
          <div class="toolbarButtonSpacer"></div>
          <div class="wrap-button">
            <p class="text-center">Страницы</p>
            <div class="splitToolbarButton">
              <button class="toolbarButton pageUp" title="Previous Page" id="previous" tabindex="13" data-l10n-id="previous">
                <span data-l10n-id="previous_label">Previous</span>
              </button>
            </div>
              <!-- <div class="splitToolbarButtonSeparator"></div> -->
            <div class="splitToolbarButton">
              <button class="toolbarButton pageDown" title="Next Page" id="next" tabindex="14" data-l10n-id="next">
                <span data-l10n-id="next_label">Next</span>
              </button>
            </div>
            <div class="pagenum">
              <input type="number" id="pageNumber" class="toolbarField pageNumber" title="Page" value="1" size="4" min="1" tabindex="15" data-l10n-id="page">
              <span id="numPages" class="toolbarLabel"></span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div id="loadingBar">
        <div class="progress">
          <div class="glimmer">
          </div>
        </div>
      </div>
    </div>
  </div>